<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg4">
        <circle-progress [percent]="85" [radius]="85" [showImage]="true" [imageSrc]="'../assets/hys/html.png'"
            [imageHeight]="95" [imageWidth]="95" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="750"></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg4">
        <circle-progress [percent]="85" [radius]="85" [showImage]="true" [imageSrc]="'../assets/hys/html.png'"
            [imageHeight]="95" [imageWidth]="95" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="750"></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg4">
        <circle-progress [percent]="85" [radius]="85" [showImage]="true" [imageSrc]="'../assets/hys/html.png'"
            [imageHeight]="95" [imageWidth]="95" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="750"></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg4">
        <circle-progress [percent]="85" [radius]="85" [showImage]="true" [imageSrc]="'../assets/hys/html.png'"
            [imageHeight]="95" [imageWidth]="95" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="750"></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg4">
        <circle-progress [percent]="85" [radius]="85" [showImage]="true" [imageSrc]="'../assets/hys/html.png'"
            [imageHeight]="95" [imageWidth]="95" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="750"></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg4">
        <circle-progress [percent]="85" [radius]="85" [showImage]="true" [imageSrc]="'../assets/hys/html.png'"
            [imageHeight]="95" [imageWidth]="95" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="750"></circle-progress>
    </div>
</div>