<div class="row">
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
        <img src="../../../assets/perfilFoto.png" class="img-fluid" id="perfil_foto">
    </div>
    <div class="col-lg-10 col-md-6 col-sm-6 col-xs-12" id="divTitulo">
        <h1>Juan Gabriel Soto Valenzuela</h1>
        <h2>Full Stack Developer Jr</h2>
    </div>
    <div class="col-lg-10 col-md-4 col-sm-4 col-xs-12" id="divDetalles">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam totam iusto provident iure modi
                fugiat ut tempora odit reprehenderit soluta illum voluptates tempore nisi vero suscipit, incidunt
                voluptatum eos doloribus.
            </p>
        </span>
    </div>
</div>