
/*Foto de Perfil*/
@media (min-width:576px){
    #perfil_foto{
        position: absolute;
        width: 27%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 72%;
        top: 600px;
    }   
} 
@media (max-width:575px){
    #perfil_foto{
        position: absolute;
        width: 35%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 470px;
    }
}
#divTitulo{
    background-color: chartreuse;
    text-align: center;
}
#divDetalles{
    background-color: coral;
     text-align: center;
}